<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit"> <!-- 启用360浏览器的极速模式(webkit) -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- 避免IE使用兼容模式 -->
  <title>一站商城商户管理系统</title>
  <link rel="icon" href="/yzw_favicon.png" type="image/x-icon">
</head>

<body>
  <div id="root"></div>
</body>

</html>
